DISCORD_BOT_TOKEN="your_discord_bot_token"
DISCORD_WEBHOOK_URL="your_discord_webhook_url"
MCAPI_KEY="your_mcapi_key"
DISCORD_INVITE="your_discord_invite_url"
MINECRAFT_RCON_HOST="127.0.0.1"
MINECRAFT_RCON_PORT="25575"
MINECRAFT_RCON_PASSWORD="your_rcon_password"
DISCORD_CHAT_CHANNEL_ID="your_discord_chat_channel_id"
